body {
    margin: 0;
    padding: 0;
    height: 100%;

}

a {
    text-decoration: none;
    font-size: 14px;
}

.wrapper {
    display: flex;
    flex: 1;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 20px;
    background-color: #eee;
    border: 1px solid #999;
}

.team_info, .team_intro, .team_person {
    overflow: hidden;
    position: relative;
    height: 100%;

    border: 1px solid #999;
    padding: 20px;
    background-color: #fff;
    vertical-align: top;
}

.team_intro {
    order: 2;
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
}

.team_info {
    order: 1;
    width: 200px;
    box-sizing: border-box;
    padding: 20px;
}

.team_person {
    order: 3;
    width: 120px;
    float: right;
    position: relative;
    box-sizing: border-box;
    padding: 20px 20px 0;
}

.team_person .team_person_list{
    display: block;
    /*box-sizing: border-box;*/
    margin: 0 0 20px 0;
    width: 80px;
    height: 80px;
    background-color: red;
}

.team_logo {
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 20px;
    background-color: red;
}