.col-xs-12 {
    width: 100%;
}

.col-xs-12 {
    float: left;
}


@media (min-width: 768px) {
    .container {
        width: 750px;
        height: 105px;
    }

    .header .leftarea {
        width: 66.66667%;
    }
    
    .header .leftarea, .header .rightarea {
        float: left;
    }

    .header .rightarea {
        width: 33.33333%;
    }

    .col-sm-8 {
        width: 33.66667%;
    }

    .col-sm-8 {
        float: left;
    }

    .col-sm-4 {
        float: left;
    }

    .col-sm-4 {
        width: 33.33333%;
    }
}


@media (max-width: 768px) {
    .header_replace {
        display: none!important;
    }

    .header_replace{
        display: block;
    }

    .hidden-xs{
        display: none!important;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .hidden-sm {
        display: none!important;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }

    .header .leftarea {
        width: 75%;
    }

    .header .rightarea {
        width: 25%;
    }

    .header .leftarea, .header .rightarea {
        float: left;
    }

    .sub_header .tag_container_outer {
        width: 93%;
    }

    .col-md-9 {
        width: 75%;
    }
    
    .col-md-9 {
        float: left;
    }

    .col-md-3 {
        float: left;
    }

    .col-md-3 {
        width: 25%;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .header_search {
        width: 160px;
    }

    .glyphicon-search {
        display: none;
    }
}

@media (min-width: 1200px) {
    .header .leftarea {
        width: 75%;
    }

    .header .rightarea {
        width: 25%;
    }

    .header .leftarea, .header .rightarea{
        float: left;
    }

    .header_search {
        width: 265px;
    }

    .container {
        width: 1140px;
    }

    .sub_header .tag_container_outer {
        width: 93%;
    }
}

@media (max-width: 991px) {
    .nav .list_item>a {
        padding: 0 6px;
        font-size: 14px;
    }
}
