html {
    font-size: 100px;
}

a {
    color: #333;
    text-decoration: none;
}

em {
    font-style: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h3, h2 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 100%;
}

header {
    display: block;
}

body {
    /*overflow: auto;*/
    height: 100%;
}

html {
    /*overflow: hidden;*/
    height: 100%;
}

body {
    background-color: #fff;
    font-family: "Helvetica Neue",helvetica,arial,sans-serif;
    font-size: .14rem;
    line-height: 1;
    color: #333;
    margin: 0;
}

.header-group-innder {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1001;
}

.m-header .logo-iqiyi {
    position: absolute;
    top: .1rem;
    left: .12rem;
    z-index: 5;
}

.logo-iqiyi {
    display: inline-block;
    width: .73rem;
    height: .24rem;
    background: url(//www.qiyipic.com/common/fix/h5-aura/iqiyi-logo.png) no-repeat 0 0;
    background-size: .73rem .24rem;

}

.m-user {
    height: 100%;
    display: -moz-box;
    display: -webkit-box;
    -moz-box-pack: end;
    -webkit-box-pack: end;
    box-pack: end;
}

.m-user .header-search, .m-user .header-recorder {
    width: .4rem;
    height: .44rem;
}

.m-header .header-login {
    height: .44rem;
}

.header-login .link-login {
    display: inline-block;
    color: #b0b0b0;
    padding: 0 .12rem;
    line-height: .44rem;
    font-size: .13rem;
}

.header-search {
    background-color: red;
}


.header-recorder {
    background-color: green;
}

.m-header .header-app {
    height: .44rem;
    padding-top: .12rem;
    padding-right: .12rem;
    padding-left: .07rem;
}

.m-header .header-app .link-app {
    display: inline-block;
    height: .2rem;
    line-height: .19rem;
    width: .59rem;
    border: 1px solid #0bbe06;
    border-radius: .2rem;
    text-align: center;
    box-sizing: border-box;
    color: #0bbe06;
    font-size: .11rem;
}


.c-glyphicon {
    /*position: relative;*/
    /*display: inline-block;*/
    /*font-size: .14rem;*/
    /*font-family: "iconfont";*/
    /*font-style: normal;*/
    /*font-weight: normal;*/
    /*line-height: 1;*/
    /*color: #8fdd90;*/
}

.g-nav-header {
    rgba(246,246,246,0.96)
}

.g-nav-header {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    height: .4rem;
    box-sizing: border-box;
    background: #fafafa;
}

.g-nav-header:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #e6e6e6;
}

.m-sliding {
    position: relative;
    overflow: auto;
    overflow-x: hidden;
}

.m-sliding .m-sliding-list {
    float: left;
    white-space: nowrap;

}

.m-sliding-list li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    letter-spacing: 0;
}

.m-sliding-list .c-linkChannel{
    display: block;
    text-align: center;
    padding: 0 .12rem;
    line-height: .4rem;
    font-size: .17rem;
    color: #333;
}

.m-nav-head {
    overflow: auto;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
}

.c-menu-linkmore {
    position: relative;
    display: inline-block;
    width: .4rem;
    height: .4rem;
    line-height: .4rem;
    text-align: center;
}

.menu-more-icon {
    display: block;
    width: .4rem;
    height: .4rem;
    background: url(//www.qiyipic.com/common/fix/h5-aura/menu-more-icon.png) no-repeat 0 0;
    background-size: .8rem .4rem;
}

.m-search-wrap {
    height: .42rem;
}

.m-search {
    height: 100%;
    padding: .065rem .12rem;
    box-sizing: border-box;
    background: rgba(246,246,246,0.96);
}

.search-box {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: .5rem;
    border: 1px solid #20bc22;
    background: #fff;
    font-size: .13rem;
}

.search-text {
    display: block;
    margin-right: .54rem;
    box-sizing: border-box;
}

.search-placeholder {
    position: relative;
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: .28rem;
}

.input-link {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: .54rem;
    height: .28rem;
    background-color: #29c82a;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.m-carousel {
    position: relative;
    padding-top: .09rem;
}

.carousel-box {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 46%;
}

.list-carousel {
    position: absolute;
    left: 0;
    top: 0;
    letter-spacing: -0.04rem;
    white-space: nowrap;
    float: left;
    width: 100%;
    height: 100%;
}

.m-carousel .list-carousel li a:before {
    content: "";
    padding-top: 50%;
    display: block;
}

.m-carousel .list-carousel li a {
    display: block;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: .05rem;
}

.m-sliding .m-sliding-list {
   display: flex;
    flex-direction: row;
    align-content: space-around;
}

.m-business-list .linkImgIcon {
    display: block;
    text-align: center;
    margin: 0 5%;
    width: 90%;
    padding-top: .15rem;
    padding-bottom: .08rem;
    font-size: .12rem;
}

.m-business-list li {
    display: inline-block;
    vertical-align: top;
    letter-spacing: 0;
    width: 21.2vw;
}


.c-icon {
    display: inline-block;
    height: 0;
    width: 61.5%;
    padding-top: 61.5%;
    background-repeat: no-repeat;
    background-size: 100%;

}

.m-business-list .c-title {
    display: block;
    overflow: hidden;
    line-height: .24rem;
    color: #666;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.m-pic .m-pic-list {
    letter-spacing: -0.04rem;
}

.m-pic .m-pic-list li {
    display: inline-block;
    vertical-align: top;
    letter-spacing: 0;
    width: 49.9%;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 2px;
}

.piclist-img {
    position: relative;
    width: 100%;
    height: auto;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.m-pic .piclist-title .c-title {
    line-height: .18rem;
    max-height: .37rem;
    overflow: hidden;
    margin-bottom: .04rem;
    font-size: .14rem;
    color: #333;
    text-align: left;
}

.m-pic .piclist-title .c-info {
    font-size: .12rem;
    line-height: .16rem;
    height: .16rem;
    margin-bottom: .04rem;
    overflow: hidden;
    color: #999;
    text-align: left;
}

.m-pic .piclist-link {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-position: center;
    background-size: cover;
}

.m-title {
    padding: .07rem .12rem;
    border-top: 1px solid #f0f0f0;
    box-sizing: border-box;
}

.m-title .c-title-des {
    display: inline-block;
    position: relative;
    font-size: .16rem;
    line-height: .35rem;
    vertical-align: top;
    font-weight: bold;
}

.c-channel-zixun {
    background-position: 0 0;
}

.c-channelicon {
    display: inline-block;
    background-image: url(//www.qiyipic.com/common/fix/h5-aura/channel-icon-20171214.png);
    background-repeat: no-repeat;
    width: .24rem;
    height: .24rem;
    background-size: 1.44rem auto;
    line-height: .24rem;
    margin-top: .05rem;
    margin-left: -0.02rem;
}

.m-box>.m-box-items {
    padding-left: .07rem;
    padding-right: .07rem;
}

.m-news .m-news-title{
    position: relative;
    display: block;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: .15rem .12rem .15rem .13rem;
    box-sizing: border-box;
}

.c-channel-dianshiju {
    background-position: -0.24rem 0;
}

.m-title .c-title-des {
    display: inline-block;
    position: relative;
    font-size: .16rem;
    line-height: .35rem;
    vertical-align: top;
    font-weight: bold;
}

.m-pic-vertical .piclist-img:before {
    padding-top: 133.06%;
}

.m-pic .piclist-img:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.m-pic .piclist-title {
    padding: .08rem 0 .08rem .12rem;
    overflow: hidden;
}

.c-lb {
    left: 0;
    bottom: 0;
}

.c-lt {
    left: 0;
    top: 0;
}

.c-rb {
    right: 0;
    bottom: 0;
}

.c-rt {
    right: 0;
    top: 0;
}

.c-lb, .c-lt, .c-rb, .c-rt {
    position: absolute;
    z-index: 5;
    overflow: hidden;
}

.c-date {
    display: inline-block;
    font-size: .11rem;
    line-height: .26rem;
    padding: 0 .12rem;
    color: #fff;
    height: .26rem;
}